$ColorActive: #d43c33;
$bgColor: #f2f4f5;
$fontColor: #333;
$lineColor: #e7e9e9;

@function pxToRem($px) {
    @return $px / 50 * 1rem;
}
.header{
    width: pxToRem(750);
    height: pxToRem(110);
    background: $ColorActive;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .box{
        width: pxToRem(110);
        height: pxToRem(110);
        line-height: pxToRem(110);
        text-align: center;
        font-size: pxToRem(45);
        color: rgba(255,255,255,.6); 
    }
    .box.active{
        color: #fff;
    }
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}